body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 800px;
    margin: 30px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #00796b;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-header h1 {
    font-size: 24px;
    color:black;
    margin: 0;
}

.profile-body {
    width: 100%;
}

.details {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details h2 {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.details p {
    font-size: 16px;
    color: black;
    margin: 5px 0;
}

.details b {
    color: black;
}
.homess{
    text-align: center;
}